<!DOCTYPE html>
{% include "header.html" %}
<html>
  <head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      var allocationValues = JSON.parse('{{ portfolio }}');
      google.charts.load('current', {'packages':['line']});
      google.charts.setOnLoadCallback(drawChart);

    function drawChart() {

      var data = new google.visualization.DataTable();
      data.addColumn('date', 'Day');
      console.log('{{ columns }}');
      var columns = JSON.parse('{{ columns | safe}}');
      console.log(columns);
      for (var i = 0; i < columns.length; i++) {
            console.log(columns[i]);
            data.addColumn('number', columns[i]);
        }
      
      var cleanedArr = [];
      for (var i = 0; i < allocationValues.length; i++) {
            var thisArr = allocationValues[i];
            thisArr[0] = new Date(thisArr[0]);
            cleanedArr.push(thisArr);
        }
      console.log(cleanedArr);


      data.addRows(cleanedArr);

      var options = {
        chart: {
          title: 'Box Office Earnings in First Two Weeks of Opening',
          subtitle: 'in millions of dollars (USD)'
        },
        width: 900,
        height: 500,
        hAxis: {
            format: 'M/d/y',
            
        },
        vAxis: {
            format: '#####.###%'
        },

      };

      var chart = new google.charts.Line(document.getElementById('linechart_material'));

      chart.draw(data, google.charts.Line.convertOptions(options));
    }
    </script>
  </head>
  <body>
    <div id="linechart_material" style="width: 900px; height: 500px"></div>
  </body>
</html>